/lib/
/target/
db.properties
phoenix-soap-app/target
phoenix-soap-app/src/test/resources/db.properties
*.iml
*.ipr
*.iws
.idea/
.project
.settings
.classpath
derby.log
*.log
*.log*
**.log
**.log*
**/db.properties
*.log.*
**/db.properties
*/db.properties
**/persistence.xml
*persistence.xml
phoenix-soap-app/src/main/resources/properties/db.properties
phoenix-soap-app/src/test/resources/db.properties
phoenix-soap-app/target/cards-management-application-1.0.0-SNAPSHOT/WEB-INF/classes/properties/db.properties
phoenix-soap-app/target/classes/properties/db.properties
phoenix-soap-app/target/test-classes/db.properties
phoenix-soap-ftest/target/
*db.properties*
/phoenix-soap-ftest/target/

/phoenix-soap-app/src/test/resources/testCards/vizitka.jpg