<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Password recovered</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>
    Password was recovered by IP address
    <span th:text="${recovery.getConfirmIp()}">127.0.0.1</span><span th:if="${geoIp!=null}">, estimated location: <span th:text="${geoIp.toString()}">unknown</span>
on <span th:text="${#dates.format(recovery.getDateConfirmed())}">01-01-1970</span>
 for user <strong><span th:text="${recovery.getSubscriberSip()}">N/A</span>
    </strong>
</p>

<p>
    If the password request was not initiated by you please report this incident to abuse@phone-x.net.
</p>

<p>
    Regards, <br />
    <em>The PhoneX Team</em>
</p>
</body>
</html>